
---
- name: Transfer International Project Setup
  hosts: all
  vars:
    aws_region: us-west-2
    ansible_user: ec2-user # or your SSH username for the instances
    ansible_ssh_private_key_file: ~/.ssh/my_key_pair.pem # or path to your private key
  tasks:
    - name: Ensure ansible_python_interpreter is set
      ansible.builtin.ansible_config:
        path=/etc/ansible
        item="[general]"
      loop: "{{ lookup('file', '1_bootstrap_backend.yml') }}"
      with_items: "{{ _ansible_parsed | map(attribute='children') | flatten | selectattr('ansible_module','lookup') | map(attribute='args') | list }}"
    - name: Install PostgreSQL
      ansible.builtin.apt:
        name: postgresql
        state: present
    - name: Ensure postgresql service is running and enabled
      ansible.builtin.service:
        name: postgresql
        state: started
        enabled: yes
