
---
- name: Transfer International Project Setup
  hosts: all
  vars:
    aws_region: us-west-2
    ansible_user: ec2-user # or your SSH username for the instances
    ansible_ssh_private_key_file: ~/.ssh/my_key_pair.pem # or path to your private key
  tasks:
    - name: Ensure ansible_python_interpreter is set
      ansible.builtin.ansible_config:
        path=/etc/ansible
        item="[general]"
      loop: "{{ lookup('file', '1_bootstrap_backend.yml') | from_yaml }}"
      vars:
        python_interpreter="{{ item.python_interpreter }}"
      when: item.ansible_platform == ansible_facts['system']['distribution']
    - name: Setup AWS CLI
      ansible.builtin.apt:
        name: awscli
        state: present
    - name: Install Python Requirements
      pip:
        requirements:
          - boto3
          - awswra
          - psycopg2-binary

  pre_tasks:
    - name: Add Puppet repo key and add repo to sources list
      ansible.builtin.apt_key_add:
        url: https://apt.puppetlabs.com/apt/dists/puppetlabs-release-latest/debian-10-x86_64/puppetlabs-release-pc1-x86_64.asc
      loop: "{{ lookup('file', '1_bootstrap_backend.yml') | from_yaml }}"
    - name: Add Puppet repo to sources list
      ansible.builtin.apt_repo:
        repo: ppa:puppetlabs/puppet-debian-10
        state: present
        filename: puppetlabs-release-pc1-x86_64
    - name: Install Puppet Agent and ensure it is running
      apt:
        name: puppet
        state: present
      puppet_agent:
        ensure: running
        state: enabled
