
---
- hosts: transfer_vms
  become: yes

  vars:
    web_app: |
      ...
      index.html
      ...

  tasks:
    - name: Install Apache2
      apt:
        name: apache2
        state: present

    - name: Install MySQL server
      apt:
        name: mysql-server
        state: present

    - name: Install PHP and PHP dependencies
      apt:
        name: php libapache2-mod-php php-{cli,common,curl,json,mbstring,xml}
        state: present

    - name: Copy web application
      copy:
        src: web_app
        dest: /var/www/html
        mode: '0644'
        owner: www-data
        group: www-data

    - name: Ensure Apache2 service is enabled and running
      service:
        name: apache2
        state: started
