 Voy a crear tres bloques YAML diferentes, cada uno dedicado a una tarea específica en la configuración de la infraestructura.

1. `playbook-vm_creation`: Crear las 3 máquinas virtuales

```yaml
---
- name: Create VM for Transfer International Project
  hosts: all
  vars:
    vm_name: "transfer_{{ inventory_hostname }}"
    os_image: centos8
  tasks:
    - name: Add VM to inventory
      ansible.builtin.add_host:
        name: "{{ vm_name }}"
        groups: transfer_vms
        ansible_ssh_user: root
        ansible_python_interpreter: /usr/bin/python3
    - name: Create VM using ansible-aws
      community.general.aws:
        region: "us-west-2"
        state: present
        instance_type: t2.micro
        image_id: "{{ os_image }}"
        key_name: my_key_pair
        subnet_id: "subnet-013e754e7a89e3c7f"
        associate_public_ip_address: yes
        vpc_id: "vpc-0b6d9a6cd62781eb9"
      when: inventory_hostname not in groups['transfer_vms']
```

2. `playbook-db_installation`: Instalar la base de datos SQL en las máquinas virtuales

```yaml
---
- name: Install Database for Transfer International Project
  hosts: transfer_vms
  tasks:
    - name: Install MySQL/MariaDB
      ansible.builtin.apt:
        name: mysql-server
        state: present
        update_cache: yes
      when: ansible_os_family == 'Debian'
    - name: Install MySQL/MariaDB
      ansible.builtin.yum:
        name: mysql-server
        state: present
      when: ansible_os_family == 'RedHat'
```

3. `playbook-db_configuration`: Configurar la base de datos SQL

```yaml
---
- name: Configure Database for Transfer International Project
  hosts: transfer_db
  vars:
    db_user: "transfer"
    db_password: "Transfer123!"
    db_name: "transfer_international"
    db_host: "{{ inventory_hostname }}"

  tasks:
    - name: Ensure MySQL/MariaDB service is running
      ansible.builtin.service:
        name: mysql
        state: started
        enabled: yes

    - name: Create database and user
      ansible.builtin.mysql_db:
        dbname: "{{ db_name }}"
        login_user: root
        password: "{{ ansible_mysql_password }}"
        state: present

    - name: Grant all privileges on the new database to the new user
      ansible.builtin.mysql_user:
        user: "{{ db_user }}"
        host: "%"
        password: "{{ db_password }}"
        priv: "*.*"
        state: present
```