- hosts: all
  become: true
  gather_facts: false
  tasks:
    - name: Install SQL database server
      package:
        name: mariadb-server
        state: present
    - name: Ensure SQL database service is started and enabled
      service:
        name: mariadb
        state: started
        enabled: true