
---
- hosts: transfer_vms
  become: yes

  vars:
    database_password: secret

  tasks:
    - name: Install necessary packages
      apt:
        name: "[mysql-server libmysqlclient-dev openssh-server]"
        state: present

    - name: Secure MySQL configuration
      copy:
      content: |
          bind-address = 0.0.0.0
          skip-name-resolve = yes
          bind_port: 3306
          datadir: /var/lib/mysql
          log_error: /var/log/mysqld.err
          socket: /var/run/mysqld/mysqld.sock
          pid_file: /var/run/mysqld/mysqld.pid
      dest: /etc/mysql/mysql.cnf
      mode: '0644'

    - name: Create database and user
      mysql_db:
        name: transfer_database
        user: transfer_user
        password: "{{ database_password }}"
        dbcollation: utf8mb4_general_ci
      when: ansible_os_family == 'Debian'

    - name: Set up replication master for transfer_database
      mysql_replication:
        user: transfer_user
        password: "{{ database_password }}"
        master_host: "{{ inventory_hostname }}"
        master_port: 3306
        master_user: transfer_user
        master_password: "{{ database_password }}"
        master_log_file: mysql-bin.000001
      when: ansible_os_family == 'Debian'

    - name: Configure firewall to allow SSH and MySQL access
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - ufw
        - ufw-data
      when: ansible_os_family == 'Debian'
