: all
  become: true
  gather_facts: false
  tasks:
    - name: Install SQL database
      package:
        name: mariadb-server
        state: present
    - name: Ensure SQL service is running and enabled
      service:
        name: mariadb
        state: started
        enabled: t