 Aquí esta un ejemplo de cómo podría ser el archivo `github_actions_ci.yml` para ejecutar los scripts de Terraform y Ansible en un flujo de trabajo GitHub Actions activado manualmente:

```yaml
name: CI/CD pipeline for PracticaFinalPSS

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up TF environment
        uses: hashicorp/terraform@v1.1.6
        with:
          terraform_version: '0.14.9'
          tf_workspace: 'practica-final'
          infrastructure_backend_path: ./terraform/backend/

      - name: Terraform init and plan
        run: |
          terraform init -no-color && \
          terraform validate -no-color && \
          terraform plan -out=tf.plan -var-file="./variables.tfvars" -no-color
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform apply
        if: github.event_name != 'push' && ! contains(github.event.pull_request.labels.*.name, 'ci')
        run: |
          terraform apply tf.plan -auto-approve -var-file="./variables.tfvars" -no-color
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Ansible playbook
        run: ansible-playbook ./ansible/main.yml --ask-vault-pass --ask-become-pass
