 ```yaml
---
name: CI/CD for Terraform and Ansible
on:
  push:
    branches: [ master ]
jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup AWS CLI
        uses: aws-actions/amazon-ecs-cli@v1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@master
      - name: Initialize Terraform
        run: terraform init -upgrade && terraform init
      - name: Plan and Apply Terraform
        run: |
          terraform plan -out=tfplan.out
          terraform apply tfplan.out
          terraform output > terraform-outputs.txt
      - name: Setup Ansible Environment
        uses: ansible/setup@v2
      - name: Run Ansible Playbook
        run: ansible-playbook ./ansible/main.yml --ask-vault-pass --tags "deploy"
