
---
name: Terraform and Ansible CI/CD Workflow
on: [push]
jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@master
      - name: Initialize Terraform
        run: terraform init -backend-config=./bootstrap/backend.tf
      - name: Plan and Apply Terraform (manual)
        if: github.event_name == 'push' && contains(github.event.pull_request.labels.*.name, 'ci') != true
        uses: hashicorp/terraform@v0
        with:
          terraform_commands: plan && apply -auto-approve
      - name: Setup Ansible
        uses: ansible/playbook@v1
        with:
          playbook: ./ansible/main.yml
